<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<style>
	#sonuc{
		margin-top: 15px;
		font-size: 2em;
		color: red;
	}
</style>
</head>

<body>

<input type="number" id="s1" placeholder="Sayıyı Girin...">
<input type="button" id="hesapla" value="Hesapla">
<div id="sonuc"></div>
<script>

var toplam = 0;
var sayi;
while(true)
{

    sayi = window.prompt("Bir Sayı Girin");
    sayi=Number(sayi);
    if (sayi == 0)
        break;
    toplam = toplam + sayi;
}
window.alert("Giridiğiniz sayıların toplamı="+toplam);

</script>
</body>
</html>